<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="IsTesting" value="False" />

        <add key="LoginPageUrl" value="https://ssb-prod.ec.aucegypt.edu/PROD/twbkwbis.P_WWWLogin" />
        <add key="CoursesRegistrationPageUrl" value="https://ssb-prod.ec.aucegypt.edu/PROD/bwskfreg.P_AltPin" />
        <add key="LoadingTimoutInSeconds" value="15" />
        <add key="TimeCheckCountdownInMilliSeconds" value="1000" />
        <add key="CoursesToRegisterAtATime" value="3" />
        <add key="CrnsInputBoxesIds" value="crn_id1,crn_id2,crn_id3,crn_id4,crn_id5,crn_id6,crn_id7,crn_id8,crn_id9,crn_id10" />
        
        <add key="LoginUsernameInputBoxElement" value="sid" />
        <add key="LoginPasswordInputBoxElement" value="PIN" />
        <add key="LoginButtonElement" value="id____UID0" />
        <add key="WelcomeMessageElement" value="welcomemessage" />
        <add key="TermSelectionDropDownElement" value="term_in" />
        <add key="SubmitRegistrationButtonElement" value="id____UID5" />
        
    </appSettings>
</configuration>