# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Registration Program.iml
# Datasource local storage ignored files
/../../../../../../../:\AUC\Programs\Registration Program\.idea\.idea.Registration Program\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
